.NewItem {
    display: inline-block;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    margin: 2.5px;
}

.NewItem label {
    display: inline-block;
    width: 50px;
    border:none;
}

.NewItem input {
    display: inline-block;
    width: 125px;
}

.Error {
    display: inline-block;
    font-size: 10px;
    color:red;
    width:100px;
}