.VendingItems {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.VendingItemsWrapper {
    display: absolute;
    width: 475px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}